<!--
  *****************************
  Scripts
  *****************************
-->
<script>
  var homepage = false
</script>

{{ if .IsHome }}
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  homepage = true
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}

<script type="text/javascript" src="/js/main.js"></script>

<!-- Need to see if I can add this only to pages that have a <pre><code> block... -->        
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ if .Site.Params.matomo }}
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setCookieDomain", "*.traeblain.com"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "https://analytics.tra.pt/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d = document,
      g = d.createElement('script'),
      s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript';
    g.async = true;
    g.defer = true;
    g.src = u + 'matomo.js';
    s.parentNode.insertBefore(g, s);
  })();
</script>
{{ end }}

<!-- I hope this works.... -->
{{ if eq .Kind "section" }}{{ if eq .Title "Searches" }}
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script type="text/javascript">
  var url = new URL(window.location)
  var search = url.searchParams.get("q")
  document.getElementById("searchbutton").addEventListener('click', function (e) {
    e.preventDefault()
    Search(document.getElementById("searchtext").value)
    toggleElement("searchform", this, false)
    var newurl = window.location.origin + window.location.pathname + '?q=' + document.getElementById("searchtext").value
    window.history.pushState({ path: newurl }, '', newurl)
  })
  var documents = {}
  var idx = {}
  var data = []
  fetch('{{ ref . "/searchindex.md" }}')
    .then(function(response) {
      return response.json()
    }).then(function(json) {
      documents = json
      idx = lunr(function () { 
        this.ref('href')
        this.field('title')
        this.field('tags')
        this.field('content')
        json.forEach(function (doc) { this.add(doc) }, this)
      })
      Search(search)
    }).catch(function(ex) {
      documents = [
        { title: "Error Getting Index" }
      ]
    })
  
  var insertAfter = function (newNode, referenceNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
  }

  var debounce = function (func, wait, immediate) {
    var timeout;
    return function() {
      var context = this, args = arguments
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args)
      }
      var callNow = immediate && !timeout
      clearTimeout(timeout)
      timeout = setTimeout(later, wait)
      if (callNow) func.apply(context, args)
    }
  }

  var Search = debounce(function (search) { 
    // var what = document.getElementById('searchtext').value
    if (search != "") {
      data = idx.search(search)
      data.forEach(function (doc) { 
        doc.title = documents.filter(function (post) { 
          return post.href === doc.ref })[0].title
        doc.date = documents.filter(function (post) { 
          return post.href === doc.ref })[0].date 
        })
    } else {
      data = []
    }
    Array.prototype.slice.call(document.getElementsByTagName('article')).forEach(function (item) {
      item.remove()
    })
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    for (var i = data.length - 1; i >= 0; i--) {
      var article = document.createElement('article')
      article.className = 'content blog'
      var header = document.createElement('header')
      var h1 = document.createElement('h1')
      h1.className = 'with-subheading'
      var link = document.createElement('a')
      var linktext = document.createTextNode(data[i].title)
      var span = document.createElement('span')
      span.classList = 'subheading'
      var time = document.createElement('time')
      var date = new Date(data[i].date)
      time.dateTime = data[i].date
      time.appendChild(document.createTextNode(date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()))
      link.title = data[i].title
      link.href = data[i].ref
      link.appendChild(linktext)
      h1.appendChild(link)
      header.appendChild(h1)
      header.appendChild(span)
      header.appendChild(time)
      article.appendChild(header)
      insertAfter(article, document.getElementById('searchResults'))
      }
      document.getElementById('searchResults').firstElementChild.innerHTML = search
    }, 250)
  
</script>
{{ end }}{{ end }}
