<div class="twelve columns">
  <div class="wrap-header">
    <div class="twelve columns boxer">
      <h1 class="blogtitle bottom box">
        <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
          <img src="https://res.cloudinary.com/dixwznarl/image/upload/tbcom/tbmonogram.svg"> <span>Trae</span> <span>Blain</span>
        </a>
      </h1>
      <h1 class="box bottom searchbox">
        <a href="#" id="searchlink"><i class="fa fa-search"></i></a>
      </h1>
      <h1 class="box bottom showmenu">
        <a href="#" id="showmenu">
          <i class="fa fa-bars"></i>
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="twelve columns hide" id="searchinput">
  <form action="/search/" method="get">
    <input type="text" id="searchtext" name="q" class="fa searchinput" placeholder="SEARCH..." />
  </form>
</div>
