<!DOCTYPE html>
{{ `<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!-->` | safeHTML }}<html class="no-js" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">{{ `<!--<![endif]-->` | safeHTML }}


{{ partial "head.html" . }}
<body>
{{ `<!--[if lte IE 9]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->` | safeHTML }}
{{ $.Scratch.Add "section" "404" }}
<a id="top"></a>

{{ .Render "menu" }}

{{ .Render "header" }}

<!--
  *****************************
  Content
  *****************************
-->
<a id="start"></a>
<main class="{{ .Kind }}" role="main">
  <div class="fourohfour">
    <h1>404</h1>
    <h2>page not found</h2>
    <p>Oh, no... you have found a part of this site that does not exist...Leave now, my friend!  A hoard of mini-ninjas are on their way!</p>
    <span></span>
    <p>Try one of the menu links or go back from whence you came.  But do it quickly, before it's too late!!</p>
  </div>
</main>
{{ partial "footer.html" . }}
{{ partial "sprites.html" . }}
{{ partial "modals.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
