{{ define "main"}}
{{ partial "headline.html" . }}
  <main id="fourohfour" onscroll="scrollProgress()">
    <div>
      <h1>404</h1>
      <h1>page not found</h1>
      <p>Oh, no...you have found a part of this site that does not exist...Leave now, my friend! A hoard of mini-ninjas are on their way!</p>
      <p>Try to search below or go back from whence you came. But do it quickly, before it's too late!!</p>
      
      <div class="search-box">
        <form action="/search" method="GET">
          <input type="text" name="s" placeholder="Search here..."/>
          <button type="submit"><svg class="svg svg-search-icon"><use xlink:href="#search"></use></svg><span>Search</span></button>
        </form>
      </div>
    </div>
  </main>
{{ end }}