<!DOCTYPE html>
{{ `<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!-->` | safeHTML }}<html class="no-js" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">{{ `<!--<![endif]-->` | safeHTML }}


{{ partial "head.html" . }}
<body>
{{ `<!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to experience this site.</p><![endif]-->` | safeHTML }}
{{ $.Scratch.Add "section" "homepage" }}
<a id="top"></a>

{{ .Render "menu" }}

{{ .Render "header" }}
<!--
  *****************************
  Primary Homepage Content
  *****************************
-->
<a id="start"></a>
<main class="{{ if .IsHome }}home{{ end }}" role="main">

  <!-- ###### Intro ###### -->
  <section id="intro">
    <!-- <div class="section-title">
      <h1>About Me</h1>
    </div> -->
    <article class="content about">
      <h3>I am Trae Blain.</h3>
      <p>I'm 3 parts Husband, 2 parts Father, 1 part Geek, 2 parts Christ-follower, 6 parts Sarcasm, and 9 parts Sexy...wait...that's too many parts.</p>
      <p>Here I <a href="#notebook">wax poetic</a>, <a href="#activity">perambulate</a> a bit, <a href="#social" onclick="document.getElementById('goodreadsCheck').click()">read profusely</a>, offer <a href="#social" onclick="document.getElementById('twitterCheck').click()">hot opinions</a>, <a href="#social" onclick="document.getElementById('githubCheck').click()">code</a>...I'm a coder..., <a href="#sensory" onclick="document.getElementById('musicCheck').click()">jam</a>, watch <a href="#sensory" onclick="document.getElementById('movieCheck').click()">movie films</a> and <a href="#sensory" onclick="document.getElementById('televisionCheck').click()">my stories</a>.</p>
    </article>
  </section>
  
  <!-- ###### Blog ###### -->
  <section id="notebook">
    <div class="section-title">
      <h1><a href="{{ "blog" | absURL }}">Notebook</a></h1>
    </div>
    {{ $paginator := .Paginate (where .Data.Pages "Draft" false) }}
    {{ range first 6 $paginator.Pages }}
      {{ .Render "li" }}
    {{ end }}
    <div class="readmore">
      <p><a href="{{ "blog" | absURL }}">But Wait...There's More!</a></p>
    </div>
  </section>

  <!-- ###### Fitbit ###### -->
  <section id="activity">
    <div class="section-title">
      <h1>Activity</h1>
    </div>
    <p class="readmore">Section Suspended due to <a href="https://www.pbs.org/newshour/economy/making-sense/google-bought-fitbit-what-does-that-mean-for-your-data-privacy">Google's Purchase of FitBit</a>.</p>
    <svg id="steps" xmlns="http://www.w3.org/2000/svg" version="1.1" class="knob-graph" viewBox="0 0 100 120">
      <circle class="knob-base" cx="50" cy="50" r="40" style="fill: transparent; stroke: #eee; stroke-width: 5;" />
      <path class="knob-progress" d="M 50, 50 m 0, -40 a 40,40 0 0 1 0,0"
        style="fill:transparent;stroke:#66cccc;stroke-width:10;stroke-linecap:round;" />
      <use xlink:href="#feet" x="50%" y="50%" height="50px" width="50px" transform="translate(-25, -35)"></use>
      <text class="knob-undertext" x="50%" y="93%" dominant-baseline="baseline" text-anchor="middle"
        style="fill:#66cccc">Fetching</text>
    </svg>
    <svg id="calories" xmlns="http://www.w3.org/2000/svg" version="1.1" class="knob-graph"
      viewBox="0 0 100 120">
      <circle class="knob-base" cx="50" cy="50" r="40" style="fill: transparent; stroke: #eee; stroke-width: 5;" />
      <path class="knob-progress" d="M 50, 50 m 0, -40 a 40,40 0 0 1 0,0"
        style="fill:transparent;stroke:#FDBF2D;stroke-width:10;stroke-linecap:round;" />
      <use xlink:href="#flame" x="50%" y="50%" height="50px" width="50px" transform="translate(-15, -35)"></use>
      <text class="knob-undertext" x="50%" y="93%" dominant-baseline="baseline" text-anchor="middle"
        style="fill:#FDBF2D">Fetching</text>
    </svg>
    <svg id="floors" xmlns="http://www.w3.org/2000/svg" version="1.1" class="knob-graph"
      viewBox="0 0 100 120">
      <circle class="knob-base" cx="50" cy="50" r="40" style="fill: transparent; stroke: #eee; stroke-width: 5;" />
      <path class="knob-progress" d="M 50, 50 m 0, -40 a 40,40 0 0 1 0,0"
        style="fill:transparent;stroke:#325d88;stroke-width:10;stroke-linecap:round;" />
      <use xlink:href="#stairs" x="50%" y="50%" height="50px" width="50px" transform="translate(-15, -32)"></use>
      <text class="knob-undertext" x="50%" y="93%" dominant-baseline="baseline" text-anchor="middle"
        style="fill:#325d88">Fetching</text>
    </svg>
    <svg id="weight" xmlns="http://www.w3.org/2000/svg" version="1.1" class="knob-graph"
      viewBox="0 0 100 120">
      <circle class="knob-base" cx="50" cy="50" r="40" style="fill: transparent; stroke: #eee; stroke-width: 5;" />
      <path class="knob-progress" d="M 50, 50 m 0, -40 a 40,40 0 0 1 0,0"
        style="fill:transparent;stroke:#28a745;stroke-width:10;stroke-linecap:round;" />
      <use xlink:href="#scale" x="50%" y="50%" height="50px" width="50px" transform="translate(-20, -37)"></use>
      <text class="knob-undertext" x="50%" y="93%" dominant-baseline="baseline" text-anchor="middle"
        style="fill:#28a745">Fetching</text>
    </svg>

  </section>

  <!-- ###### Social ###### -->
  <section id="social">
    <div class="section-title">
      <h1>Social</h1>
    </div>
    <div class="tabs">
      <label for="twitterCheck">Twitter</label>
      <label for="goodreadsCheck">Goodreads</label>
      <label for="githubCheck">Github</label>
      <!-- <label for="instagramCheck">Instagram</label> -->
    </div>
    <input type="radio" name="social" id="twitterCheck" onclick="tabSelect('twitter')" style="display: none;" checked>
    <div id="twitterTab" class="tab-content active">
      <div class="tabs">
        <div class="active">&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <!-- <div>&nbsp;</div> -->
      </div>
      <div id="twitter-status" class="twitter-tweet">
        <p lang="en" dir="ltr">Getting Tweet...</p>
        &mdash; @traeblain
      </div>
    </div>
    <input type="radio" name="social" id="goodreadsCheck" onclick="tabSelect('goodreads')" style="display: none;">
    <div id="goodreadsTab" class="tab-content">
      <div class="tabs">
        <div>&nbsp;</div>
        <div class="active">&nbsp;</div>
        <div>&nbsp;</div>
        <!-- <div>&nbsp;</div> -->
      </div>
      <h4>Reading Challenge</h4>
      <svg id="readprogress" xmlns="http://www.w3.org/2000/svg" version="1.1" class="knob-graph"
        viewBox="0 0 100 120">
        <circle class="knob-base" cx="50" cy="50" r="40" style="fill: transparent; stroke: #eee; stroke-width: 5;" />
        <path class="knob-progress" d="M 50, 50 m 0, -40 a 40,40 0 0 1 0,0"
          style="fill:transparent;stroke:#5e81ac;stroke-width:10;stroke-linecap:round;" />
        <use xlink:href="#goodreads" x="50%" y="50%" height="50px" width="50px" transform="translate(-25, -35)"></use>
        <text class="knob-undertext" x="50%" y="93%" dominant-baseline="baseline" text-anchor="middle"
          style="fill:#5e81ac">Fetching</text>
      </svg>
      <div>
        <a href="https://www.goodreads.com/user_challenges/15077224">You have read <span id="readcount">X</span> of <span id="readtotal">X</span> books.</a>
      </div>
      <div><em><span id="bookprogress">X</span> books <span id="booksahead">around</span> schedule</em></div>
      <div id="lastread">
        Fetching status...
      </div>
    </div>
    <!-- <input type="radio" name="social" id="instagramCheck" style="display: none;">
    <div id="instagramTab" class="tab-content">
      <div class="tabs">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="active">&nbsp;</div>
      </div>
      <h4>Instagram</h4>
      <div>
        <img src="https://res.cloudinary.com/dixwznarl/image/upload/c_fill,h_470,w_470/notebook/books-in-grass.jpg"/>
      </div>
      <div>
        BLAH
      </div>
    </div> -->
    <input type="radio" name="social" id="githubCheck" onclick="tabSelect('github')" style="display: none;">
    <div id="githubTab" class="tab-content">
      <div class="tabs">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="active">&nbsp;</div>
        <!-- <div>&nbsp;</div> -->
      </div>
      <h4>GitHub Contributions</h4>
      <div>
        <img src="https://res.cloudinary.com/dixwznarl/image/upload/github-cal.svg" width="100%">
      </div>
      <div class="github-details">
        <div>
          <h6>Repositories</h6>
          <div class="gh-count">20</div>
          <div><a href="https://github.com/traeblain?tab=repositories">Public</a></div>
        </div>
        <div>
          <h6>Stars</h6>
          <div class="gh-count">18</div>
          <div><a href="https://github.com/traeblain?tab=stars">View</a></div>
        </div>
        <div>
          <h6>More</h6>
          <div class="github-more">
            <a href="https://github.com/traeblain"><svg class="svg svg-github"><use xlink:href="#github"></use></svg></a>
            <a href="https://gitlab.com/traeblain"><svg class="svg svg-gitlab"><use xlink:href="#gitlab"></use></svg></a>
            <a href="https://bitbucket.org/traeblain/"><svg class="svg svg-bitbucket"><use xlink:href="#bitbucket"></use></svg></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ###### Entertainment ###### -->
  <section id="sensory">
    <div class="section-title">
      <h1>Sensory</h1>
    </div>
    <div class="tabs">
      <label for="musicCheck">Music</label>
      <label for="movieCheck">Movie</label>
      <label for="televisionCheck">Television</label>
    </div>
    <input type="radio" name="sensory" id="musicCheck" onclick="tabSelect('music')" style="display: none;" checked>
    <div id="musicTab" class="tab-content">
      <div class="tabs">
        <div class="active">&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
      </div>
      <div class="first">
        <div>
          <span class="artistbottom">
            <p><a target="_blank" href="#">Top Artist</a></p>
            <p><em>X plays</em></p>
          </span>
        </div>
      </div>
      <div class="rest">
        <div>
          <span class="artistbottom">
            <p><a target="_blank" href="#">2nd Artist</a></p>
            <p><em>X plays</em></p>
          </span>
        </div>
        <div>
          <span class="artistbottom">
            <p><a target="_blank" href="#">3rd Artist</a></p>
            <p><em>X plays</em></p>
          </span>
        </div>
        <div>
          <span class="artistbottom">
            <p><a target="_blank" href="#">4th Artist</a></p>
            <p><em>X plays</em></p>
          </span>
        </div>
        <div>
          <span class="artistbottom">
            <p><a target="_blank" href="#">5th Artist</a></p>
            <p><em>X plays</em></p>
          </span>
        </div>
      </div>
    </div>
    <input type="radio" name="sensory" id="movieCheck" onclick="tabSelect('movie')" style="display: none;">
    <div id="movieTab" class="tab-content">
      <div class="tabs">
        <div>&nbsp;</div>
        <div class="active">&nbsp;</div>
        <div>&nbsp;</div>
      </div>
      <a target="_blank" href="http://www.trakt.tv/users/traeblain"><img alt="traeblain"
        src="https://widgets.trakt.tv/users/3ce95a43ea6297d34071aab460918b21/watched/fanart2@2x.jpg?type=movie"
        width="100%"></a>
    </div>
    <input type="radio" name="sensory" id="televisionCheck" onclick="tabSelect('television')" style="display: none;">
    <div id="televisionTab" class="tab-content">
      <div class="tabs">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="active">&nbsp;</div>
      </div>
      <a target="_blank" href="https://www.trakt.tv/users/traeblain"><img alt="traeblain"
        src="https://widgets.trakt.tv/users/3ce95a43ea6297d34071aab460918b21/watched/fanart2@2x.jpg?type=episode"
        width="100%"></a>
    </div>
  </section>

  <!-- ###### Miscellaneous ###### -->
  <!-- <section id="misc">
    <div class="section-title">
      <h1>Misc</h1>
    </div>
  </section> -->

</main>
{{ partial "footer.html" . }}
{{ partial "sprites.html" . }}
{{ partial "modals.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
