<!DOCTYPE html>
{{ `<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!-->` | safeHTML }}<html class="no-js" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">{{ `<!--<![endif]-->` | safeHTML }}


{{ partial "head.html" . }}
<body>
<a id="top"></a>
{{ `<!--[if lte IE 9]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->` | safeHTML }}
{{ $.Scratch.Add "section" "blog" }}

{{ .Render "menu" }}

{{ .Render "header" }}
<!--
  *****************************
  Blog Post List Content
  *****************************
-->
<a id="start"></a>
<main class="{{ .Kind }}" role="main">
  {{ if eq .Kind "section" }}{{ if eq .Title "Searches" }}
  <h5 id="searchResults">Search Results for: <em>?</em></h5>
  {{ end }}{{ end }}

  {{ $paginator := .Paginate (where .Data.Pages "Draft" false) }}

  {{ range $paginator.Pages }}{{ .Render "li" }}
  {{ end }}

  {{ partial "pagination.html" . }}
  
  <div class="back-to-top">
    <a href="#top">&Uparrow; Back to Top</a>
  </div>
</main>
{{ partial "footer.html" . }}
{{ partial "sprites.html" . }}
{{ partial "modals.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
