<article class="twelve columns post" id="thecontent">
  {{ $dateends := (slice "th" "st" "nd" "rd" "th" "th" "th" "th" "th" "th") }}
  {{ $.Scratch.Set "ends" "th" }}
  {{ if and ((.Date.Day) lt 11) ((.Date.Day) gt 13) }}
    {{ $.Scratch.Set "ends" (index $dateends (mod (.Date.Day) 10)) }}
  {{ end }}
  <header class="twelve columns {{ .Params.text_color }}" style="{{ if .Params.background }}background: url({{ .Params.background }}) no-repeat center center; background-color: transparent;{{end}}">
    <h1 class="headline {{ .Params.text_color }}">{{ .Title }}</h1>
    <time class="datetime {{ .Params.text_color }}" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Monday, January 2" }}{{ $.Scratch.Get "ends" }}, {{ .Date.Format "2006" }}</time>
  </header>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="progressbar" width="100%" height="5">
    <line x1="0" y1="2.5" x2="1" y2="2.5" stroke-width="5"/>
  </svg>
  <section class="twelve columns content">
    {{ .Content }}
  </section>

  <div class="twelve columns">
    <hr>
  </div>

{{ with $.Site.Params.disqus }}
  <div class="twelve columns">
    <div id="disqus_thread"></div>
  </div>
{{ end }}

</article>